<div className="App">
  <header className="App-header">
    <img src="awx.gif" className="logo" alt="logo" />
    <h1>AWX App</h1>
    <h2>Ephemeral shared playlists made by magic. Find a nearby listener and start adding.</h2>
    <p>You must be signed into Spotify as a Premium user in order to use this app. No login redirect? 
      <a
        className="link"
        href="/login"
        target="_blank"
        rel="noopener noreferrer"
      >
        Click here.
      </a>
    </p>
  </header>
</div>